* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  height: 100px;
  background-color: #81ecec;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 40%;
  color: #0984e3;
  padding-left: 55px;
}
.logo h1 {
  text-shadow: 2px 2px 2px #dfe6e9;
}
.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 4px;
  background-color: blueviolet;
  transition: all 0.5s linear;
}
.menu a:hover::before {
  width: 100%;
  background-color: #6c5ce7;
}
.logo img {
  width: 80px;
  padding-left: 40px;
}

.main_box h1{
 font-family: 'Passions Conflict', cursive;
  margin-left: auto;
  display: flex;
  justify-content: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    background-image: linear-gradient(#8d98e3 40%,#854fee 60%);
    /* width: 40%; */
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: righttoleft 2s linear infinite;
    animation-direction: alternate;
}

.left{
  display: inline-block;
  margin-top: 1px;
display: flex;
justify-content: left;
height: 500px;
}

@keyframes righttoleft {
  from{padding-left: 40px;}
  to {padding-right: 20px;}
}

@keyframes lefttoright {
  from{padding-right: 40px;}
  to {padding-left: 20px;}
}

.main_box h2{
    font-size: 15px;
}

.right{
  margin-top: 3%;
  margin-left: 55%;
position: absolute;
font-size: 1.2rem;

}
.right h1{
  animation: lefttoright 2s linear infinite;
  animation-direction: alternate;
 font-family: 'Passions Conflict', cursive;
  /* margin-bottom: 2px */
  margin-bottom: 4px
}
.right p{
  font-family: 'Abyssinica SIL', serif;
  margin-top: 2px;
  /* margin-bottom: 2px */
  margin-bottom: 4px;
}
